# Python bytecode & caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database Files
*.db
fallback_aqi.db

# Sensitive credentials
.env

# Nginx temporary runtime logs & files
nginx/logs/
nginx/temp/
logs/
temp/
